.grid {
    width: 400px;
    height: 600px;
    background-image: url("img/backgroundpsd.png");
    position: relative;
    font-size: 100px;
    text-align: center;
    border: 5px solid black;
}

.doodler {
    width: 85px;
    height: 115px;
    background-image: url("img/golang.png");
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-image: url("img/platform.png");
    position: absolute;
}